body {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background-image: url(b3.jpg);
    background-position: center;
}

.Bx2{
	
    width: 900px;
    box-shadow: 0 0 3px 0 rgb(2, 2, 2);
    background-color: white;
    padding: 20px;
    margin: 8% auto 8%;
   
}


img{
    margin-top: -20px;
    margin-left: 350px;
   
}

button{
    color: #fff;
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn2{
background-color: dodgerblue;
}

