<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=ISO-8859-1"/>
    <style type="text/css"></style>

    <link rel="stylesheet" type="text/css" href="/static/css/InG.css"/>

    <meta name="description" content="Indent form for Direct purchase"/>
    <title> Indent form for Direct Purchase </title>
</head>
<body>
    <div class="Bx3">
   <!-- <img src="IITI.png" height="200"width="200" />
    <style="float: right" margin-right: 10px; margin-left: 5px />   -->
    <center><h1>
       INDIAN INSTITUTE OF TECHNOLOGY INDORE
    </h1>
    <h3>
        <u>Format for Purchase Indent under GeM <br/>
        <i>(Direct Purchase through GeM for Rs. 1 to Rs. 25,000/-)</i></u>
    </h3>
    </center>
    <hr />
    <form method="post">
        <b>
        Department/Division:
        <input type="text" name="Dept" /> <br /><br />
        Name of Indentor:
        <input type="text" name="Name" /> 
        Designation:
        <input type="text" name="Desgn" /> <br /><br />
        Indent Approving Authority (from the concerned dept):
        <input type="text" name="IAA" /><br /><br />
        Date:
        <input type="date" name="indentdate"><br><br>
        Budget Type: <br />
    </b>
        <input type="radio" name="budgetT" value="Plan" /> Plan<br>
        <input type="radio" name="budgetT" value="Non-Plan" /> Non-Plan<br>
        <input type="radio" name="budgetT" value="Departmental" /> Departmental<br>
        <input type="radio" name="budgetT" value="Project" /> Project Funded by <input type="text" name="PFby" /><br>
        <input type="radio" name="budgetT" value="Others" /> Others <br><br>

    <b>
        Total Estimated cost: INR
        <input type="number" name="cost" max="25000" /><br /><br />
        Main-category:
        <input type="text" name="itemname" placeholder="write item name">
        <input type="text" name="brand" placeholder="write brand name">
        <input type="number" name="quantity" placeholder="Enter quantity">
        <input type="text" name="warrenty_period" placeholder="Enter warrenty period">
        <br>
        <br>
        Sub-category:
        <input type="text" name="subcat" placeholder ="write item specification">
        <br>
        <br>
        ExpectedDelieveryDate:
        <input type="date" name="expecteddate"><br>
        <br>
       <center> <button type="submit" class="btn3"> Submit </button> </center>
    </b>
</form>
</div>
</body>
</html>