<!DOCTYPE html>
<html>
<head>
    <title>PLACEORDER_DIRECT_PURCHASE</title>
    <link rel="stylesheet" href="/static/css/placeordeDP.css" />
</head>
<body>
    <form method="post">
        <div class="Bxy">
            
                <input type="submit" class="bx" name="approve" value="Approve by MMS employee">
                <br>
                <input type="submit" class="bx" name="bill" value="Generate bill">
            
        </div>
    </form>
    </center>
</body>
</html>
	