<html>
<head>
    <title>Sign up</title>
    <link rel="stylesheet" href="/static/css/SignUp.css" />
</head>
<body>
    <form method="post" class="col col-lg-4 text-center" style="margin: auto; margin-top: 5em;">
       
        <!-- {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endif %}-->
        <div class="form-group">
            <img src="man.png" />
            <h2>Sign Up</h2>
            <input type="text" class="form-control" name="email" aria-describedby="firstnameHelp" placeholder="Enter username" /><br />
            <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="Enter Password" required>
            <br />
            <button type="submit" class="btn" name="signup" value="signup">Sign Up</button>
        </div>
    </form>
    </body>
    </html>
