<html>
  <head>
          <title>Sign In</title>
          <link rel="stylesheet" href="/static/css/SignIn.css" />
  </head>
<body>
         
         <form method="post">

             <div class="input-group-lg">
                 <img src="ic3.png" />
                 <h2>Sign in</h2>
                 <span class="input-group-addon"><i class="fa fa-user"></i></span>
                 <input type="text" class="form-control" name="email" placeholder="Username or email">
                 <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                 <input type="password" class="form-control" name="password" placeholder="Password">
                 <button type="submit" class="float" name="signin">Login</button>
             </div>

             
         </form>
</body>
</html>